
main {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 0rem;    /* Footer height */
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: black;
    bottom: 0;
    height: 30rem;
}

#container {
    position: relative;
    min-height: 100vh;
}

h3 {
    color: blue !important;
    font-size: 0.5em;
}

